@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato'),
       url('assets/fonts/Lato-Light.woff') format('woff');
} 

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato'),
       url('assets/fonts/Lato-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  src: local('Lato'),
       url('assets/fonts/Lato-Semibold.woff') format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato'),
       url('assets/fonts/Lato-Black.woff') format('woff'); 
} 

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
ul, 
ol, 
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  line-height: 1em;
  font-family: 'Lato';
  font-weight: 400;
  min-width: 1020px;
}

body {
  background-color: #F2F2F2;
}

h1 {
  position: absolute;
  top: -100px;
  font-size: 1px;
}

h2, h3 {
  font-weight: 900;
  color: #666d89;
}

h2 { 
  font-size: 1.875rem;
  padding: 0.7333em 0 0.4333em;
}

h3 { 
  font-size: 1.125rem;
}

p {
  padding-top: 0.8em;
  font-size: 1.125rem;
  line-height: 1.875rem;
  font-weight: 300;
  text-align: justify;
  letter-spacing: -0.005em;
  font-kerning: none;
  word-break: break-word;
}

li {
 list-style-type: none;
}

.wrapper { 
  width: 100%;
  height: 100%;
  padding: 0 40px;
  max-width: 1020px;
  margin: 0 auto;
}

.header { 
  height: 95px;
  background-color: #2d303a;
  border-bottom: 6px solid #323645;
} 

.footer {
  height: 75px;
  background-color: #2d303a;
}

.header .wrapper,
.footer .wrapper { 
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}

.logo {
  transform: scaleX(0.99) translate(-1px, 1px);
  
}

.header__navigation {
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: -0.005em;
}

.navigation { 
  display: flex;
}

.navigation a,
.navigation a:hover {
  text-decoration: none;
  color: #ffffff;
}

.navigation a:hover,
.current a {
  color: #ef6c64;
}

.current a {
  font-weight: 400;
}

.navigation>li {
  padding-top: 10px;
}

.navigation>li:nth-child(n+2):nth-child(-n+5):before {
  content: '·';
  margin: 0 13px;
  color: #494e62;
} 

.slider { 
  height: 600px;
  background-color: #ef6c64;
  border-bottom: 6px solid #ea666b;
}

.slider .wrapper{
  position: relative;
}

.slider__screen {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 37px 72px 43px;
}

.iPhone {
  position: relative;
  width: 240px;
  height: 483px;
}

.iPhone__shadow {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.iPhone__background {
  position: absolute;
  z-index: 2;
}

.iPhone__body {
  position: absolute;
  z-index: 3;
  height: 95.03%;
  width: 90%;
}

.iPhone_vertical {
  right: 0.99px;
}

.background_vertical {
  top: 12.42%;
  left: 4.17%;
  width: 81.25%;
  height: 70.39%;
  background: url(assets/img_final/slider/bcgr_v.png);
  background-position: 2.25% 53.6%;
}

.iPhone_horizontal {
  transform: rotate(90deg) translate(-0.5%, 25.2%);
}

.shadow_horizontal {
  transform: scaleY(-1);
}

.body_horizontal {
  bottom: 0px;
}

.background_horizontal {
  transform: rotate(-90deg);
  top: 32.42%;
  left: -25.83%;
  width: 141.67%;
  height: 40.37%;
  background: url(assets/img_final/slider/bcgr_h.png);
  background-position: 51.36% 29.8%;
}


.slider__nav { 
  position: absolute;
  height: 30px;
  width: calc(100% + 2px);
  left: 0px;
  top: calc(50% - 16px);
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
}

.slider__button { 
  background-color: transparent;
  border: none;
  height: 30px;
  width: 20px;
  padding: 0;
  transition: 50ms ease-in;
}

.slider__button:focus {
  outline: none;
}

.button_previous:after {
  content: url('assets/img/chev-p.svg');
  display: inline;
}

.slider__button:hover {
  transform: scale(1.2);
  filter: brightness(0.8);
}

.slider__button:active {
  transform: none;
}


.button_next:after { 
  content: url('assets/img/chev-n.svg');
} 

.section { 
  padding: 40px 0;
  color: #767e9e;
}

.section-services {
  border-bottom: 6px solid #ffffff;
  padding-bottom: 43px;
}

.section-portfolio { 
  background-color: #2d303a;
  border-bottom: 6px solid #313745;
}

.section-about { 
  background-color: #F2F2F2;
  border-bottom: 6px solid #ffffff;
}

.section-quote {
  background-color: #ef6c64;
  border-bottom: 6px solid #ea666b;
}

.section-quote * {
  color: #f0d8d9;
}

.section__introduction {  
  padding: 10px 0 30px;
}

.portfolio_introduction {
  padding-bottom: 8px;
}

.about_introduction {
  margin-left: 1px;
  padding-bottom: 31px;
}

.layout-3-column { 
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.section__item { 
  max-width: calc(calc(100% - 40px) / 3); 
  display: flex;
  flex-wrap: nowrap;
  padding: 12px 0px 19px;
  overflow: hidden;
}

.section__item:nth-child(2) {   
  margin-left: -1px; 
}

.section-services_item:nth-child(2) {   
  margin-left: -2px; 
}

 .section-services_item:nth-child(n-1) {
  margin-right: 1px; 
 }

.section-services_item {
  padding: 15px 1px 17px;
 }
 
.section-services__icon {
  height: 59px;
  width: 61px;
  object-fit: contain;
  flex: 0 0 auto;
  margin-right: 19px;
}

.item__description p {
  font-size: 0.75rem;
  line-height: 1.375rem;
  font-weight: 400;
}

.three-line-text {
  max-height: 4.6875rem;           
  overflow: hidden;             
  display: -webkit-box;         
  -webkit-line-clamp: 3;        
  -webkit-box-orient: vertical;
}

.galery__filter {
  display: flex;
  margin-bottom: 19px;
}

.galery__filter>li {
  display: inline-block;
  font-size: 12px;
  height: 22px;
  line-height: 22px;
  border-radius: 5px;
  border: 1px solid #666d89;
  margin-right: 10px;
  cursor: pointer;
  letter-spacing: -0.07px;
  text-align: center;
}

.filter-all {
  width: 29px; margin-left: 1px;
}
.filter-web {
  width: 78px;
}
.filter-graphic {
  width: 93px;
}
.filter-artwork {
  width: 57px;
}

.galery__filter>li.selected,
.galery__filter>li:hover {
  color: #dedede;
  border: 0.5px solid #dedede;
}

.galery {
  padding-bottom: 7px; 
}

.galery__wall {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  flex-wrap: wrap;
}

.galery__wall>li {
  display: inline-block;
  width: calc(25% - 15px);
  max-height: 190px;
  height: auto;
  margin-bottom: 17px;
}

.galery__wall>li:not(:nth-child(4n-3)) {
  margin-left: 20px;
} 

.galery__wall img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.galery__wall>li:nth-child(n+13) { /*  !+++ */
  display:none;
} 

.section-about .layout-3-column {
  margin-right: -1px;
}

.about_introduction p {  
  margin: -1px -1px 1px;
}

.two-line-text {
  max-height: 3rem;           
  overflow: hidden;             
  display: -webkit-box;         
  -webkit-line-clamp: 2;        
  -webkit-box-orient: vertical;
}

.item__wrapper {
  max-width: 100%; 
}

.person__face-img {
  width: 300px;
  height: 300px;
  max-width: 100%;
  object-fit: cover;
}


.person_description {
  padding: 17px 0px;  
  max-width: 100%;  
}

.person_description h3 { 
  overflow: hidden;   
  white-space: nowrap; 
  text-overflow: ellipsis; 
  margin-left: -1px;
}

.person:first-child p {  
  letter-spacing: -0.5px;
}

.person p {  
  line-height: 1.8333em;
  padding-top: 10px;
}

.social-icons {
  display: flex;
  padding: 10px 0 5px 1px;
}

.person:last-child .social-icons {
  padding-left: 0;
}

.social-icons__icon:nth-child(-n+3) {
  padding-right: 8px;
}

.social-icons__icon img {
  transition: 200ms;
}

.social-icons__icon a:hover img {
  transform: scale(1.05);
  transition: 100ms;
}

.social-icons__icon * {
  height: 32px;
  width: 32px;
}

.quote__communication {
  display: flex;
  justify-content: space-between;
  padding: 3px 0;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.quote__form {
  flex: 0 1 619px;
  margin-right: 19px;
  position: relative;
  top: 9px;
}

.form__field {
  border-radius: 5px;
  background-color: #d6564f;
  border: none;
  padding: 0 14px;
  margin-top: 16px;
  border: 1px solid transparent;
  outline: none;
  transition: 100ms;
}

.form__field::placeholder {
  color: #f48c8f;
  font-size: 0.75rem;
  font-family: Lato;
  font-weight: 400;
}

.form__field:focus {
  border: 1px solid #bd4b45;
}

.form__name {
  height: 37.5px;
  margin-top: 0px;
}

.form__email {
  height: 38px;
}

.form__subject {
  height: 38px;
}

.form__detail {
  height: 202px;
  resize: none;
  padding: 11px 14px;
  overflow: hidden;
}

.form__submit {
  align-self: flex-end;
  height: 33px;
  border: none;
  padding: 0 24px;
  border-radius: 5px;
  background-color: #d6564f;
  font-family: Lato;
  font-weight: 400;
  font-size: 1rem;
  color: #f0d8d9;
  position: relative;
  top: 13px;
  cursor: pointer;
}

.form__submit:hover {
  background-color: #d64a42;
}

.form__field:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 50px #d6564f !important;
  background-color: #d6564f !important;
  -webkit-text-fill-color:  #f0d8d9 !important; 
  color: #f0d8d9 !important; 
  border: 1px solid #d6564f;
}

.form__field:-webkit-autofill:focus {
  border: 1px solid #bd4b45;
}

.form__field:invalid {
  box-shadow:none;
}

.alert {
  display: none;
  position: absolute;
  background-color: #bd4b45dc;
  border: 1px solid #a03f3a;
  color: #f5b2b4;
  border-radius: 0px 20px 20px;
  left: 30px;
  padding: 0 1em;
  height: 2em;
  line-height: 2em;
  font-size: 0.85rem;
}

.alert_name {
  top: 33px;
}

.alert_email {
  top: 85px;
}

.form:focus-within .form__field:invalid,
.form__field:invalid:focus,
.form__submit:active ~ .form__field:invalid {
  border: 1px solid #ff0d00;
  background-color:  #d64a42;
} 

.form__field:invalid:focus + .alert {
  display: block;
}

.information_description p {
  padding-top: 9px;
  font-weight: 300;
  line-height: 1.375rem;
}

.information__contacts {
  line-height: 1.375rem;
  font-size: 0.75rem;
  padding-top: 20px;
}

.information__contacts a {
  text-decoration: none;
}

.information__location:before {
  content: url("assets/img_final/contacts/location.svg");
  margin: 1px 11px 0 1px;
}

.information__phone:before {
  content: url("assets/img_final/contacts/phone.svg");
  margin: 0 11px 0 1px;
}

.information__email:before {
  content: url("assets/img_final/contacts/mail.svg");
  margin-right: 10px;
}

.copyright p {
  font-size: 12px;
  color: #666d89;
  padding: 1px 0 0 2px;
}