@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato'),
       url('assets/fonts/Lato-Light.woff') format('woff');
} 

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato'),
       url('assets/fonts/Lato-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  src: local('Lato'),
       url('assets/fonts/Lato-Semibold.woff') format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato'),
       url('assets/fonts/Lato-Black.woff') format('woff'); 
} 

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
ul, 
ol, 
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  line-height: 1em;
  font-family: 'Lato';
  font-weight: 400;
  min-width: 320px;
}

body {
  background-color: #F2F2F2;
}

h1 {
  clip: rect(1px,1px,1px,1px);
  height: 1px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  z-index: -1000;
}

h2, h3 {
  font-weight: 900;
  color: #666d89;
}

h2 { 
  font-size: 1.875rem;
  padding: 0.7333em 0 0.4333em;
}

h3 { 
  font-size: 1.125rem;
}

p {
  padding-top: 0.8em;
  font-size: 1.125rem;
  line-height: 1.875rem;
  font-weight: 300;
  text-align: justify;
  letter-spacing: -0.005em;
  font-kerning: none;
  word-break: break-word;
}

li {
 list-style-type: none;
}

.wrapper { 
  width: 100%;
  height: 100%;
  padding: 0 40px;
  max-width: 1020px;
  margin: 0 auto;
}

.anchor {
  position: relative;
}
.anchor__shift {
  position: absolute;
  top: -95px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 100;

  height: 95px;
  background-color: #2d303a;
  border-bottom: 6px solid #323645;
} 

.footer {
  height: 75px;
  background-color: #2d303a;
}

.header .wrapper,
.footer .wrapper { 
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}

.logo {
  transform: scaleX(0.99) translate(-1px, 1px);
  
}

.header__navigation {
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: -0.005em;
}

.navigation { 
  display: flex;
}

.navigation a,
.navigation a:hover {
  text-decoration: none;
  color: #ffffff;
}

.navigation a:hover,
.current a {
  color: #ef6c64;
}

.navigation>li {
  padding-top: 10px;
}

.navigation>li:nth-child(n+2):nth-child(-n+5):before {
  content: '·';
  margin: 0 13px;
  color: #494e62;
} 

.slider { 
  height: 600px;
  background-color: #ef6c64;
  border-bottom: 6px solid #00000006;
  transition: background-color 0.5s;
}

.slider .wrapper{
  position: relative;
  margin-top: 95px;
}

.slider__screen {
  height: 100%;
  margin: 0 72px;
  overflow: hidden;
  position: relative;
}

.slide {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  visibility: hidden;
}

.visible_slide {
  visibility: visible;
}

@keyframes next-to-screen {
  from  { transform: translate(110%);
          visibility: visible;
        }  
    to  { transform: none; 
          visibility: visible;
        }
}

@keyframes previous-to-screen {
  from  { transform: translate(-110%);
          visibility: visible;
        }  
  to  { transform: none; 
        visibility: visible;
      }
}


.next_slide {
  animation: next-to-screen 0.8s;
}

.previous_slide {
  animation: previous-to-screen 0.8s;
}

.trash_next {
  transform: translate(-110%);
  transition: 1s;
}

.trash_previous {
  transform: translate(110%);
  transition: 1s;
}

.slide__wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.slide_1 {
  justify-content: space-between;
  top: calc(50% - 2px);
}

.slide_2 {
  justify-content: center;
}


.iPhone {
  position: relative;
  width: 240px;
  height: 483px;
}

.iPhone__shadow {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.iPhone__background {
  position: absolute;
  background-size: cover;
  z-index: 2;
}

.iPhone__body {
  position: absolute;
  z-index: 3;
  height: 95.03%;
  width: 90%;
}

.touch {
  position: absolute;
  z-index: 20;
}

.touch_screen {
  /* width: 77%;
  height: 68%;
  top: 14%;
  left: 6.5%; */
  width: 90%;
  height: 95%;
  top: 0%;
  left: 0%;
  border-radius: 27px;
}

.touch_button {
  width: 17%;
  height: 8.5%;
  border-radius: 50%;
  top: 84.5%;
  left: 36.2%;
  cursor: pointer;
}

.background_vertical {
  top: 13.4%;
  left: 6.1%;
  width: 78.6%;
  height: 69.1%;
  background-image: url(assets/img/slider/bcgr_v.png);
}

.iPhone_horizontal {
  transform: rotate(90deg) translate(-0.5%, 25.2%);
}

.iPhone_horizontal .touch_screen {
  /* transform: translate(0%, 7%); */
  transform: translate(0%, 5.3%);
}

.iPhone_horizontal .touch_button {
  transform: translate(0%, 62%);
}

.shadow_horizontal {
  transform: scaleY(-1);
}

.body_horizontal {
  bottom: 0px;
}

.background_horizontal {
  transform: rotate(-90deg);
  top: 33.3%;
  left: -24.4%;
  width: 140%;
  height: 39.37%;
  background-image: url(assets/img/slider/bcgr_h.png);
}

.iPhone_back-left,
.iPhone_back-right {
  transform: scale(0.65);
  position: relative;
  z-index: 0;
  top: 10px;
  opacity: 0.5;
}

.iPhone_back-left {
  left: 32px;
}

.iPhone_back-right {
  right: 30px;
  right: 89px;
}

.iPhone_front {
  position: relative;
  z-index: 1;
  transform: scale(1.06);
  right: 28px;
}

.iPhone_front .background_vertical {
  filter: hue-rotate(25deg) saturate(181%) contrast(0.95);
}

.background_no-image {
  background: #000000;
}


.slider__nav { 
  position: absolute;
  height: 100px;
  width: calc(100% + 2px);
  left: 0px;
  top: calc(50% - 52px);
  display: flex;
  justify-content: space-between;
}

.slider__button { 
  background-color: transparent;
  border: none;
  height: 100px;
  width: 100px;
  padding: 0;
  transition: 50ms ease-in;
}

.slider__button:focus {
  outline: none;
}

.button_previous:after {
  content: url('assets/img/slider/chev-p.svg');
  display: inline;
}

.slider__button:hover {
  transform: scale(1.2);
  filter: invert();
  cursor: pointer;
}

.slider__button:active {
  transform: none;
}


.button_next:after { 
  content: url('assets/img/slider/chev-n.svg');
} 

.section { 
  padding: 40px 0;
  color: #767e9e;
}

.section-services {
  border-bottom: 6px solid #ffffff;
  padding-bottom: 43px;
}

.section-portfolio { 
  background-color: #2d303a;
  border-bottom: 6px solid #313745;
}

.section-about { 
  background-color: #F2F2F2;
  border-bottom: 6px solid #ffffff;
}

.section-quote {
  background-color: #ef6c64;
  border-bottom: 6px solid #ea666b;
}

.section-quote * {
  color: #f0d8d9;
}

.section__introduction {  
  padding: 10px 0 30px;
}

.portfolio_introduction {
  padding-bottom: 8px;
}

.about_introduction {
  margin-left: 1px;
  padding-bottom: 31px;
}

.layout-services { 
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.layout-3-column { 
  display: flex;
  justify-content: space-between;
}

.section__item { 
  max-width: calc(calc(100% - 40px) / 3); 
  display: flex;
  flex-wrap: nowrap;
  padding: 12px 0px 19px;
  overflow: hidden;
}

.section-services_item {
  padding: 15px 1px 17px;
  flex: 1 0 30%;
 }
 
.section-services__icon {
  height: 59px;
  width: 61px;
  object-fit: contain;
  flex: 0 0 auto;
  margin-right: 19px;
}

.item__description p {
  font-size: 0.75rem;
  line-height: 1.375rem;
  font-weight: 400;
}

.three-line-text {
  max-height: 4.6875rem;           
  overflow: hidden;             
  display: -webkit-box;         
  -webkit-line-clamp: 3;        
  -webkit-box-orient: vertical;
}

.gallery__filter {
  display: flex;
  margin-bottom: 19px;
}

.gallery__filter>li {
  display: inline-block;
  font-size: 12px;
  height: 22px;
  line-height: 22px;
  border-radius: 5px;
  border: 1px solid #666d89;
  margin-right: 10px;
  cursor: pointer;
  letter-spacing: -0.07px;
  text-align: center;
}

.filter-all {
  width: 29px; margin-left: 1px;
}
.filter-web {
  width: 78px;
}
.filter-graphic {
  width: 93px;
}
.filter-artwork {
  width: 57px;
}

.gallery__filter>li.selected,
.gallery__filter>li:hover {
  color: #dedede;
  border: 0.5px solid #dedede;
}

.gallery {
  padding-bottom: 7px; 
}

.gallery__wall {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  position: relative;
  top: -5px;
  left: -5px;
}

.gallery__wall>li {
  display: inline-block;
  width: calc(25% - 15px);
  max-height: 190px;
  height: auto;
  margin-bottom: 17px;
}

.gallery__wall img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border: 5px solid transparent;
  box-sizing: content-box;
}

.gallery__wall>li:nth-child(n+13) { /*  !+++ */
  display:none;
}

.gallery__wall img.selected_project {
  border: 5px solid #F06C64;
}

.section-about .layout-3-column {
  margin-right: -1px;
}

.about_introduction p {  
  margin: -1px -1px 1px;
}

.two-line-text {
  max-height: 3rem;           
  overflow: hidden;             
  display: -webkit-box;         
  -webkit-line-clamp: 2;        
  -webkit-box-orient: vertical;
}

.item__wrapper {
  max-width: 100%; 
}

.person__face-img {
  width: 100%;
  height: auto;
  max-width: 100%;
  object-fit: cover;
}


.person_description {
  padding: 17px 0px;  
  max-width: 100%;  
}

.person_description h3 { 
  overflow: hidden;   
  white-space: nowrap; 
  text-overflow: ellipsis; 
  margin-left: -1px;
}

.person:first-child p {  
  letter-spacing: -0.5px;
}

.person p {  
  line-height: 1.8333em;
  padding-top: 10px;
}

.social-icons {
  display: flex;
  padding: 10px 0 5px 1px;
}

.person:last-child .social-icons {
  padding-left: 0;
}

.social-icons__icon:nth-child(-n+3) {
  padding-right: 8px;
}

.social-icons__icon img {
  transition: 200ms;
}

.social-icons__icon a:hover img {
  transform: scale(1.05);
  transition: 100ms;
}

.social-icons__icon * {
  height: 32px;
  width: 32px;
}

.quote__communication {
  display: flex;
  justify-content: space-between;
  padding: 3px 0;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.quote__form {
  flex: 0 1 619px;
  margin-right: 19px;
  position: relative;
  top: 9px;
}

.form__field {
  border-radius: 5px;
  background-color: #d6564f;
  border: none;
  padding: 0 14px;
  margin-top: 16px;
  border: 1px solid transparent;
  outline: none;
  transition: 100ms;
  font-size: 0.875rem;
  font-family: Lato;
  font-weight: 300;
  text-align: justify;
  color: #f0d8d9;
}

.form__field::placeholder {
  color: #f48c8f;
  font-size: 0.75rem;
  font-family: Lato;
  font-weight: 400;
}

.form__field:focus {
  border: 1px solid #bd4b45;
}

.form__name {
  height: 37.5px;
  margin-top: 0px;
}

.form__email {
  height: 38px;
}

.form__subject {
  height: 38px;
}

.form__detail {
  height: 202px;
  resize: none;
  padding: 11px 14px;
  overflow: auto;
  scrollbar-color: #00000050 #00000010;
  scrollbar-width: thin; 
}

.form__detail::-webkit-scrollbar {
  width: 6px; 
  background-color: #00000010;
}

.form__detail::-webkit-scrollbar-thumb {
  background-color: #00000040;
  border-radius: 3px;
  box-shadow: none;
}

.form__detail::-webkit-scrollbar-thumb:hover {
  background-color: #00000060;
}


.form__submit {
  align-self: flex-start;
  height: 38px;
  width: 136px;
  border: none;
  border-radius: 5px;
  background-color: #FBC65F;
  font-family: Lato;
  font-weight: bold;
  font-size: 14px;
  color: #886A30;
  cursor: pointer;
  outline: none;
  margin-top: 17px;
}

.form__submit:hover {
  background-color: #d64a42;
}

.form__field:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 50px #d6564f !important;
  background-color: #d6564f !important;
  -webkit-text-fill-color:  #f0d8d9 !important; 
  color: #f0d8d9 !important; 
  border: 1px solid #d6564f;
}

.form__field:-webkit-autofill:focus {
  border: 1px solid #bd4b45;
}

.alert {
  display: none;
  position: absolute;
  background-color: #bd4b45dc;
  border: 1px solid #a03f3a;
  color: #f5b2b4;
  border-radius: 0px 20px 20px;
  left: 30px;
  padding: 0 1em;
  height: 2em;
  line-height: 2em;
  font-size: 0.85rem;
}

.alert_name {
  top: 33px;
}

.alert_email {
  top: 85px;
}

.form:focus-within .form__field.invalid,
.form__field.invalid:focus,
.form__submit:active ~ .form__field.invalid {
  border: 1px solid #ff0d00;
  background-color:  #d64a42;
} 

.form__field.invalid:focus + .alert {
  display: block;
}

.information_description p {
  padding-top: 9px;
  font-weight: 300;
  line-height: 1.375rem;
}

.information__contacts {
  line-height: 1.375rem;
  font-size: 0.75rem;
  padding-top: 20px;
}

.information__contacts a {
  text-decoration: none;
}

.information__location:before {
  content: url("assets/img/contacts/location.svg");
  margin: 1px 11px 0 1px;
}

.information__phone:before {
  content: url("assets/img/contacts/phone.svg");
  margin: 0 11px 0 1px;
}

.information__email:before {
  content: url("assets/img/contacts/mail.svg");
  margin-right: 10px;
}

.copyright p {
  font-size: 12px;
  color: #666d89;
  padding: 1px 0 0 2px;
}

.modal-window {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: #3a3a3aa8;
  display: none;
  z-index: 400;
}

.modal-window.visible {
  display: block;
}

.modal__alert {
  position: relative;
  top: calc(50% + 45px);
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f0d8d9;
  background-color: #ef6c64;
  padding: 30px;
  border-radius: 10px;
  width: fit-content;
  max-height: calc(100vh - 150px);
  max-width: 70%;
  border: 3px solid #ffffff49;
  overflow: auto;
  scrollbar-color: #00000050 #00000010;
  scrollbar-width: thin; 
}

.modal__alert::-webkit-scrollbar {
  width: 6px; 
  background-color: #00000010;
}

.modal__alert::-webkit-scrollbar-thumb {
  background-color: #00000040;
  border-radius: 3px;
  box-shadow: none;
}

.modal__alert::-webkit-scrollbar-thumb:hover {
  background-color: #00000060;
}

.modal-message * {
  font-size: 0.85rem;
  line-height: 1.2em;
}

.modal__button {
  flex: 0 0 auto;
  height: 33px;
  border: none;
  padding: 0 24px;
  border-radius: 5px;
  background-color: #d6564f;
  font-family: Lato;
  font-weight: 400;
  font-size: 1rem;
  color: #f0d8d9;
  cursor: pointer;
  outline: none;
  margin-top: 30px;
}

.modal__button:hover {
  background-color: #d64a42;
}

@media (max-width: 1019px) {

.header__navigation{
  position: relative;
  top: -3%;
  letter-spacing: -0.3px;
}

.navigation>li:nth-child(n+2):nth-child(-n+5):before {
  margin: 0 14.5px;
}
  .slider { 
    height: 58.82vw;
  }
  
  
  .slider__nav {
    top: calc(50% - 45px);
  }

  .slider__button {
    width: 75px;
  }

  .slider__screen {
    width: 87%;
    max-width: 796px;
    margin: 0 auto;
  }
  
  .iPhone {
    height: 47.35vw;
    width: 23.53vw;
    max-width: 240px;
    max-height: 483px; 
  }
  
  .iPhone_horizontal {
    transform: rotate(90deg) translate(1%, 25.2%);
  }

  
  .section__item { 
    max-width: calc(calc(100% - 30px) / 3); 
  }

  .section-services {
      padding: 21px 0 31px;
      border-bottom: 6px solid #F2F2F2;
  }

  .services_introduction {
    padding-bottom: 22px;
  }

  .section-services_item {
    max-width: calc(calc(100% - 20px) / 2);
    flex: 1 0 40%;
    margin-bottom: 20px;
   }

  
  .section-portfolio {
    padding-bottom: 53px;
  }

   .gallery__wall>li {
    width: calc(calc(100% - 40px) / 3);
    margin: 11px 0 2px;
    max-height: auto;
  }

  .section-about {
    padding: 33px 0 44px;
    border-bottom: 6px solid #F2F2F2;
  }

  .section-about .layout-3-column {
    margin-left: 2px;
  }

  .about_introduction {
    padding-bottom: 23px;
  }

  .two-line-text {
    max-height: 100vh;
    display: block;
  }

  .person_description {
    padding: 12px 0px 0px;
  }

  .person p {
    line-height: 1.8333em;
    padding-top: 3px;
  }

  .section-quote {
    padding: 34px 0 45px;
  }

  .quote_introduction {
    padding: 10px 0 11px;
  }

  .information_description p {
    padding-top: 1px;
  }

  .information__contacts {
    padding-top: 11px;
  }

  .form__field {
    margin-top: 12px;
    padding: 14px 8px;

  }
  
  .form__name {
    margin-top: 0px;
  }

  .form__detail {
    height: 159px;
    padding: 8px 7px;
  }

  .quote__form {
    margin-right: 29px;
  }
}

@media (max-width: 767px) {

}

@media (max-width: 374px) {

  
}